---
import Button from "@/components/Button.astro";
import TextInput from "@/components/TextInput.astro";

const isRegistrationEnabled = import.meta.env.REGISTRATION_ENABLED == "true";

if(!isRegistrationEnabled) {
    return Astro.redirect("/")
}
---

<h1>MySchedule</h1>

<form action="/api/auth/signup" method="post">
    <TextInput name="username" placeholder="Username" autofocus />
    <TextInput name="email" type="email" placeholder="Email" />
    <TextInput name="password" type="password" placeholder="Password" />

    <Button class="action" type="submit" text="Sign up" />
</form>

<a href="/auth/signin" class="hint">Already have account?</a>

<style lang="scss">
    @use "@/styles/reset";

    body {
        min-width: 100%;
        min-height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.4rem;
    }

    h1 {
        font-weight: 800;
        font-size: 2.5em;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 17.5rem;
        gap: .8rem;
    }

    .action {
        margin-top: .2rem;
        width: 100%;
        padding-block: .8em;
    }

    .hint {
        color: rgb(78, 78, 78);
        font-size: .9em;
    }
</style>