---
import Button from "@/components/Button.astro";
import TextInput from "@/components/TextInput.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="color-scheme" content="light dark" />
		<meta name="darkreader-lock" />
		<title>MySchedule - Sign in</title>
    </head>

    <body>
        <h1>MySchedule</h1>

        <form action="/api/auth/signin" method="post">
            <TextInput id="username" name="username" placeholder="Username/Email" autofocus required />
            <TextInput id="password" name="password" type="password" placeholder="Password" required />

            <Button class="action" type="submit" text="Sign in" />
        </form>

        <a href="/auth/signup" class="hint">Don't have account?</a>
    </body>
</html>

<style lang="scss">
    @use "@/styles/reset";
    @use "@/styles/colors";

    body {
        min-width: 100%;
        min-height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.4rem;
    }

    h1 {
        font-weight: 800;
        font-size: 2.5em;
        font-variation-settings: "wdth" 125;
        font-weight: 900;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 17.5rem;
        gap: .8rem;
    }

    .action {
        margin-top: .2rem;
        width: 100%;
        padding-block: .8em;
    }

    .hint {
        color: rgb(78, 78, 78);
        font-size: .9em;
    }

    @media (prefers-color-scheme: dark) {
        .hint {
            color: #b7b7b7;
        }
    }
</style>