---
import Button from "@/components/Button.astro";
import database from "@/database";
import { getUsernameByToken } from "@/utils";

const id = Astro.params.id;
const user = await getUsernameByToken(Astro.cookies.get("token")!!.value);

if(user == null) {
    return Astro.redirect("/auth/signin");
}

const schedule = database.prepare('SELECT * FROM schedules WHERE id = ?').get(id);

if(schedule == null || schedule.owner != user) {
    return Astro.redirect("/404", 404);
}
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="color-scheme" content="light dark" />
		<meta name="darkreader-lock" />
		<title>MySchedule - Manage {schedule.name}</title>
    </head>

    <body>
        <header>
            <a href="/dashboard">
                <img class="back" src="/icons/back_bold.svg" />
            </a>

            <span class="title">MySchedule - {schedule.name}</span>

            <span class="spacer"></span>

            <a href="/api/auth/logout">
                <Button text="Log out" />
            </a>
        </header>

        
    </body>
</html>

<style lang="scss">
    @use "@/styles/reset";
    @use "@/styles/colors";

    header {
        padding: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        
        .spacer {
            flex-grow: 1;
        }

        .back {
            height: 2em;
            aspect-ratio: 1;
        }

        .title {
            font-weight: 900;
		    font-size: 2em;
		    font-variation-settings: "wdth" 125;
        }
    }
</style>