---
export const prerender = false;
const registrationEnabled = import.meta.env.REGISTRATION_ENABLED == "true";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>MySchedule</title>
	</head>
	<body>
		<header>
			<a href="/auth/login">
				<button>Login</button>
			</a>
			
			{registrationEnabled && <a href="/auth/signup">
				<button>Sign up</button>
			</a>}
		</header>

		<h1>MySchedule</h1>
		<p>A brand new way to share your schedule with others :)</p>
		<a href="https://mrboomdev.ru">Learn more...</a>
	</body>
</html>
