---
import Button from "@/components/Button.astro";
import { useI18n } from "@/i18n/useI18n.astro";
import { getUsernameByToken } from "@/utils";

const i18n = useI18n();
const isRegistrationEnabled = import.meta.env.REGISTRATION_ENABLED == "true";
const isLoggedIn = await getUsernameByToken(Astro.cookies.get("token")?.value) != null;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>MySchedule</title>
	</head>
	<body>
		<header>
			<a href="/">
				<span class="logo">MySchedule</span>
			</a>

			<span class="spacer"></span>
			
			{!isLoggedIn && <a href="/auth/signin">
				<Button class="signin-button" text={i18n.signin} />
			</a>}
			
			{isRegistrationEnabled && !isLoggedIn && <a href="/auth/signup">
				<Button text={i18n.signup} />
			</a>}

			{isLoggedIn && <a href="/dashboard">
				<Button text="Dashboard" />
			</a>}
		</header>

		<h1 style="margin-bottom: .6rem">{i18n.landing_title}</h1>

		<a href="https://github.com/MrBoomDeveloper/MySchedule">
			<Button text = "Learn more..." />
		</a>
	</body>
</html>

<style lang="scss">
	@use "@/styles/reset";

	header {
		display: flex;
		align-items: center;
		width: 100%;
		padding: 1rem;
		gap: .6em;
		font-size: 1em;

		.logo {
			font-weight: 900;
			font-size: 2em;
		}

		.spacer {
			flex-grow: 1;
		}

		.signin-button {
			background-color: transparent;
			color: black;
			border: .15em black solid;
		}
	}
</style>