---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
    text: string
}

const { text, ...attrs } = Astro.props;
---

<button {...attrs}>{text}</button>

<style lang="scss">
    button {
		background-color: black;
		color: white;
		border: none;
		padding-block: .5em;
		padding-inline: 1.6em;
		border-radius: 2em;
		font-size: 1em;
		cursor: pointer;
	}

	@media (prefers-color-scheme: dark) {
		button {
			background-color: white;
			color: black !important;
		}
	}
</style>