---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
    text?: string,
	icon?: string,
	outlined?: boolean,
	squircle?: boolean,
	transparent?: boolean
}

const {
	text,
	icon,
	squircle,
	outlined,
	transparent,
	...attrs 
} = Astro.props;
---

<button class:list={{ outlined, squircle, transparent, "no-text": text == null }} {...attrs}>
	{icon && <img src={icon} class="icon" />}
	{text}
</button>

<style lang="scss">
    button {
		background-color: black;
		color: white;
		border: none;
		padding-block: .5em;
		padding-inline: 1.6em;
		border-radius: 2em;
		font-size: 1em;
		cursor: pointer;
		transition: .1s;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: .8em;

		&.squircle {
			border-radius: .5em;
		}

		&.no-text {
			padding-inline: .75em;
		}

		.icon {
			height: 1em;
			aspect-ratio: 1;
			scale: 1.2;
		}

		&:not(.no-text) .icon {
			margin-left: -.4em;
		}

		&.outlined {
			background-color: transparent;
			color: black;
			border: .15em black solid;
		}

		&.transparent {
			background-color: transparent;
			color: black;
		}

		&:active:hover {
			scale: .95;
		}
	}

	@media (prefers-color-scheme: dark) {
		button {
			background-color: white;
			color: black !important;

			.icon {
				filter: brightness(0) saturate(100%);
			}

			&.outlined {
				color: #ffffff !important;
				border: .15em #ffffff solid;

				.icon {
					filter: brightness(0) saturate(100%) invert(88%) sepia(86%) saturate(0%) hue-rotate(202deg) brightness(104%) contrast(102%);
				}
			}

			&.transparent {
				color: #ffffff !important;
				
				.icon {
					filter: brightness(0) saturate(100%) invert(88%) sepia(86%) saturate(0%) hue-rotate(202deg) brightness(104%) contrast(102%);
				}
			}
		}
	}
</style>