---
import Button from "@/components/Button.astro";
import TextInput from "@/components/TextInput.astro";
import Toggle from "@/components/Toggle.astro";
import { getUsernameByToken } from "@/utils";

const user = await getUsernameByToken(Astro.cookies.get("token")!!.value);

if(user == null) {
    return Astro.redirect("/auth/signin");
}
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="color-scheme" content="light dark" />
		<meta name="darkreader-lock" />
		<title>MySchedule - Create a new schedule</title>
    </head>

    <body>
        <h1>New schedule</h1>

        <form action="/api/schedule/create" method="post">
            <TextInput id="name" name="name" placeholder="Name" autofocus required />
            <Toggle id="public" name="public" text="Public access (via link)" style="width: 100%; padding-block: .6rem" />

            <Button class="action" type="submit" text="Create" />
        </form>

        <a href="/dashboard" class="hint">Cancel</a>
    </body>
</html>

<style lang="scss">
    @use "@/styles/reset";
    @use "@/styles/colors";

    body {
        min-width: 100%;
        min-height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.4rem;
    }

    h1 {
        font-weight: 800;
        font-size: 2.5em;
        font-variation-settings: "wdth" 125;
        font-weight: 900;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 17.5rem;
        gap: .8rem;
    }

    .action {
        margin-top: .2rem;
        width: 100%;
        padding-block: .8em;
    }

    .hint {
        color: rgb(78, 78, 78);
        font-size: .9em;
    }

    @media (prefers-color-scheme: dark) {
        .hint {
            color: rgb(183, 183, 183);
        }
    }
</style>